<div class="container">
  <form action="/api/item" method="POST">
    {{!-- <label for="item-name">Item Name</label> --}}
    <input type="text" id="item-name" name="itemName" class="form-control" placeholder="Item Name">
    <input type="text" id="item-quantity" name="itemQuantity" class="form-control" placeholder="Item Quantity">
    <input type="text" id="item-expiry" name="itemExpiry" class="form-control" placeholder="Item Expiry Date">
  </form>
</div>
