<form action="" method="POST">
    <span
    <div class="form-group">
        <label>Top # of closest to search</label>
        <select class="form-control">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
        </select>
    </div>

    <div class="form-group">
        <button class="btn btn-default">
            Discover
        </button>
    </div>
</form>